:root {
    --primary: #2b2c97;
    --primary-light: #4a71b4;

    --dark: #06071a;
    --white: #ffffff;

    --background: #f8f8f8;

    --gold: goldenrod;

    --header-height: 60px;
    --sidebar-width: 205px;

    --card-radius: 10px;
}
.landing-page__section section{

    width: 100vw;

}
.lnd-header{

    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: var(--header-height);

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 35px;

    background: var(--white);

    box-shadow:
        rgba(210, 220, 230, 0.459) 0 1px 2px 0,
        rgba(155, 162, 168, 0.651) 0 2px 6px 2px;

}

.banner{
height: 70vh;
 display: grid;
 position: relative;
 grid-template-areas: "stack";  
}
.banner img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    grid-area: stack;

}
.banner .intro{
    grid-area: stack;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    max-width: 500px;
    min-height: 300px;
    top: 20%;
    left: 5%;
}
.intro h1{
    font-size: 75px;    
}
.intro h1 span{
    color: var(--gold);
}   
.intro p{
    text-shadow: 1px px 2px black;
    text-align: justify;
}
    .btn-box{

    height: 55px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}



.btn-box button {
    height: 50px;

    flex: 1;

    max-width: 35%;

    border: 2px solid var(--primary-light);

    border-radius: 10px;

    background: var(--primary);

    color: var(--white);

    font-family: inherit;

    font-size: 12px;
    font-weight: 800;

    cursor: pointer;

    transition:
        background 0.2s,
        transform 0.2s;
}


.btn-box button:hover {
    transform: scale(1.05);
    background: transparent;
    box-shadow: 2px 2px 15px  rgba(66, 104, 207, 0.61);
}


.btn--buy:hover {
    background: var(--white);
    color: var(--dark);
}


.btn--save:hover {
    background: var(--gold);
    border-color: var(--gold);
    color: var(--dark);
}
.mais-vendidos{
    width: 100%;
    background: var(--background);
    margin-bottom: 22rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mais-vendidos i{
    font-size: 45px;
    cursor: pointer;
    color: var(--gold);
}
.mais-vendidos .container{
    
    background: var(--white);
    border-radius: 12px;
    width: 800px;
    padding: 20px 35px;    
    display: flex;
    gap: 2rem;  
    overflow-x: scroll ;
    
}
.mais-vendidos article{
    min-height: 200px;
    min-width: 200px;
    transition: 0.3s;
    
    
}
.mais-vendidos article:hover{
    transform: scale(1.05);
}